.main {
  display: flex;
  /* justify-content: space-between; */
  align-items: stretch; 
  text-align: left;
}

.main .quiz, .main .result {
  flex: 1;
  margin: 0 5px;
}

.fieldset {
  width: 400px;
  padding: 20px;
  border: 2px solid #dcdcdc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%; 
}

.main h2 {
  text-align: center;
  margin-top: 0;
}

.main label {
  display: block;
  margin-bottom: 10px;
}

.main input[type="number"] {
  width: 50px;
  margin-left: 10px;
}

.main ol {
  padding: 0;
}

.main li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .nameInput {
  width: 60px;
}

.main input[type="button"] {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
}

.main .namediv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main .namediv label {
  margin-right: 10px;
}

.result{
  display: none;
}

.result .fieldset {
  margin-top: 1.5rem;
  height: 24.3rem;
}